.posto{
    background-color: transparent;
    min-width: 40px;
    min-height: 40px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
}

.Titolo h1{
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.Prenotazione{
    width: 100%;
    display: inline-flex;
}
.div-posti{
    width: 60%;
    display: inline-block;
}

.colonna-posti{
    margin-left: 50px;
    justify-content: center;
    text-align: center;
    display: inline-flex;
    max-height: 40px;
    
    padding-top: 20px;
}
.colonna-posti button{
    margin-left: 10px;
}


.colonna{
    justify-content: center;
    text-align: center;
}

.div-posto{
    margin-left: 8px;
    width: 38px;
    height: 35px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    border-style: solid;
    border-width: 2px;
}

.div-posto img{
    width: 100%;
    height: 100%;
}